<footer>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="https://github.com/TheRiver/rusty-grammar/" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://crates.io/crates/rusty_systems" title="The crates website for rusty-systems" target="_blank">Crates.io</a>
        </li>
        <li>
            <a href="https://docs.rs/rusty-systems/latest/rusty_systems/" title="Open the documentation" target="_blank">Docs.rs</a>
        </li>
    </ul>
    <p>
        Header photo by <a href="https://unsplash.com/@nahilnaseer">Nahil Naseer</a> on <a href="https://unsplash.com/photos/green-leaf-plants-xljtGZ2-P3Y">Unsplash</a>
    </p>
</footer>