<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/main.css">

    {% if project.environment == "production" %}
        <base href="{{ project.base }}">
    {% endif %}

    <title>Rusty-Systems</title>
</head>
<body>

<header>
    <h1>Rusty-Systems</h1>
    <p>
        A rust library for procedurally generating
        content using L-System grammars.
    </p>
</header>

<main>
    <section>
        <h2>What's this about?</h2>
        <p>
            This crate currently supports producing strings using <em>context-free</em> and
            <em>stochastic</em> <a href="https://en.wikipedia.org/wiki/L-system" target="_blank">L-Systems</a>.
            L-Systems are a grammar-based method that can be used for procedurally generating content.
        </p>
        <p>
            <em class="name">rusty-systems</em> is written in rust and is thread safe.
        </p>
    </section>

    <section>
        <h2>Installing</h2>
        <p>
            The library is available via
            <a href="https://crates.io/crates/rusty_systems" title="The crates website for rusty-systems" target="_blank">🦀 crates.io</a>.
            You can install it using <em>cargo</em>
        </p>
        {% highlight shell %}
        cargo add rusty-systems
        {% endhighlight %}
    </section>

    <section>
        <h2>Examples</h2>

        <p>
            Using the following two rules we can create a simple plant:
        </p>

        {% highlight grammar %}
start: X

F → F F
X → F + [ [ X ] - X ] - F [ - F X ] + X
        {% endhighlight %}

        <p>
            <em class="name">X</em> is the token from which we
            grow our plant. You may think of it as being short for <em>apex</em>.
        </p>

        <p>
            <em class="name">F</em> represents <em>forward</em>
            movement or growth. The first rule, then says that every
            iteration of the L-System grammars
        </p>

        <figure>
            <img src="./images/examples/skia-plant.png"
                 loading="lazy"
                 decoding="async"
                 alt="A black-and-white generated line-image of a plant">
            <figcaption>6 iterations of the plant rules</figcaption>
        </figure>

        <div>

            <p>
                The second rule, which matches the token <em class="name">X</em>,
                gives a scaffolding for the shape of the plant. the <em class="name">+</em>
                and <em class="name">-</em> tokens effect the angle of growth of a branch,
                while the <em class="name">[</em> and <em class="name">]</em> tokens
                define branches.
            </p>

            <p>
                When interpreted as instructions to draw lines, this plant image
                is produced. One of the provided
                <a href="https://github.com/TheRiver/rusty-systems/blob/main/examples/skia-plant/main.rs">
                    example applications</a> uses the
                <a href="https://crates.io/crates/tiny-skia" target="_blank">
                    tiny-skia</a> graphics library to interpret the above L-system grammar
                to produce a png.
            </p>


        </div>


        <p>
            You can run the example using:
        </p>
{% highlight shell %}
# Install the source
git clone https://github.com/TheRiver/rusty-systems.git
cd rusty-systems

# Run the example
cargo run --example skia-plant

# output image saved to target/skia-plant.png
{% endhighlight %}

        <figure>
            <img src="./images/examples/skia-plant.png"
                 loading="lazy"
                 decoding="async"
                 alt="A black-and-white generated line-image of a plant">
            <figcaption>6 iterations of the plant rules</figcaption>
        </figure>

        <div>

            <p>
                The command will create a file named <em>skia_plant.png</em> in the <em>target</em>
                directory.
            </p>
            <p>
                If you would like to know more about the <em>turtle interpretation</em>,
                see §1.3 (pg 6) of
                <a href="http://algorithmicbotany.org/papers/#abop" target="_blank">
                    the Algorithmic Beauty of Plants</a>.
                The rules are taken from the plant presented in figure 1.24f, from the same book.
            </p>
        </div>
    </section>

    <section>
        <h2>The lsystem command line tool</h2>

        <p>
            <em class="name">rusty-systems</em> also provides an optional command line interface
            called <a href="/lsystem"><em class="name">lsystem</em></a>. It produces
            <em>svg</em> output from plant grammars.
        </p>
    </section>


    <section>
        <h2>Find out more</h2>

        <p>
            The <em class="name">rusty-systems</em> crate has <strong>documentation</strong>
            and examples showing how to use it. See
            <a href="https://docs.rs/rusty-systems/latest/rusty_systems/"
               title="Open the documentation" target="_blank">docs.rs</a>.
        </p>

        <p>
            An important book which developed L-Systems is
            <em>The Algorithmic Beauty of Plants</em>, by
            Prusinkiewicz and Lindenmayer,
            <a href="http://algorithmicbotany.org/papers/#abop">
                and is available for free online</a>.
            This is a good place to read more about L-Systems and
            see many examples on how to use them.
        </p>

        <p>
            The source code is available on <a href="https://github.com/TheRiver/rusty-grammar/">GitHub</a>,
            and is <a href="https://github.com/TheRiver/rusty-systems/blob/main/LICENSE">licensed</a> under the MIT license.
        </p>
    </section>

</main>

{%  include "partials/footer.liquid" %}

</body>
</html>
